$red: #B50014;
$black: #000000ea;
$white: #FFFFFF;

$width: 1920px;
$height1: 93px;

$font1: Roboto Condensed ;
$font2: Roboto ;

$fontsize1: 38px;
$fontsize2: 22px;
$fontsize3: 16px;
$fontsize4: 14px;
$fontsize5: 12px;

@mixin beloDugme(){
    border-radius: 30px;
    background-color:$white;
    width: 174px;
    height: 47px;
    color: $black;
    border: 1px solid #FF0000;
}

@mixin crvenoDugme(){
    border-radius: 30px;
    background-color:$red;
    width: 174px;
    height: 47px;
    color: $white;
    border:white;
    border: 1px solid;
}






body{
    background-color: $black;
}
*{
    padding: 0;
    margin: 0;
}




.container{
    margin: 0 auto;
    width: 1323px;
    
}




.section0-nav{
    display: flex;
    height: $height1;
    background-color: $red;
    justify-content: center;
    align-items: center;
    
}

.section0-nav li{
    text-decoration: none;
    display: inline-block;
    font-family: $font2;
    color: $white;
  
}

a{
    text-decoration: none;
    color: $white;
    margin-left: 40px;
    font-size: $fontsize3;
    font-family: $font2;
    font-weight: 700; 
    line-height: 18.75px; 
   
}

.links {
    ul {
        display: flex;
        justify-content: flex-end;
    }
}


#section0-logo{
    position: absolute;
    margin-left: 300px;
    margin-top: -50px;
}




.opentime{
    display: flex;
    height: 30px;
    background-color: $black;
    color: $white;
    justify-content:flex-end;
    align-items: center;
    padding-left: 1160px;
    
}




#section1-img{
    display: flex;
    width: 100%;
    height: 679px;
    object-fit:cover;
    

}


.section1{
    background-color:#0000004D;
    width: 629px;
    height: 348px;
    font-family: $font1;
    position: absolute;
    top: 300px;

}

#section1-h1{
    padding-top: 60px;
    padding-left:260px;
    padding-bottom: 15px;
    font-size: $fontsize1;
    font-family: $font1;
    color: $white;
}

#section1-p{
    font-family: $font2;
    font-size: $fontsize3;
    color: $white;
    padding-left:260px;
    padding-top: 20px;
}

.section2{
    flex-wrap:wrap ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 712px;
    gap: 125px;

}

.section2-left{
    display: flex;
    flex-direction: column;
    font-family: $font1;
    font-size: $fontsize2;
    color: $white;

}

#section2-button1{
   @include crvenoDugme();

}

#section2-button2{
    @include crvenoDugme();
}

.section2-buttons{
    padding-top: 66px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

}

.section2-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
   
}

.section2-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
   
}

#section2-h1{
    font-family: $font1;
    font-size: $fontsize1;
    margin-top: -70px;
}

#section2-h2{
    font-family: $font1;
    font-size: $fontsize2;
    margin-top: 2px;
    margin-bottom: 20px;
    padding-bottom: 41px;
}

#section2-p{
    font-family: $font2;
    font-size: $fontsize3;
    margin-bottom: 20px;
}





.section3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $red;
    height: 642px;
    width: 100%;
    gap: 29px;
}

#section3-h1{
    font-size: $fontsize1;
    font-family: $font1;
    color: $white;
    padding-top:160px ;
}

#section3-li{
    font-size: $fontsize3;
    font-family: $font2;
    color: $white;
    padding-top: 30px;
}

#section3-button{
    @include beloDugme();
    
#section3-image{
    display: flex;
    width: auto;
}
   
}


.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section4-h1{
    padding: 180px;
    font-size: $fontsize1;
    font: $font1;
    color: $white;
    text-align: center;
    padding-top: 119px;
    padding-bottom: 16px;
}

#section4-h2{
    font-size: $fontsize1;
    font: $font2;
    color: $white;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 65px;
    
}

#section4-p{
    font-size: $fontsize2;
    font: $font2;
    color: $white;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 30px
}

.section4-button-div{
    padding-bottom: 82px;
}

#section4-button{
    @include crvenoDugme();
    
}

.section4-hr{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section4-logo{
    display: flex;
    height: 50px;
    width: 50px;
    
}

#section4-line{
    width: 1098px;
}

.section4-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 46px;
    padding-bottom:227px ;
}





.section5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5-left{
    display:flex;
    height: 705px;

}

.section5-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $red;
    width: 100%;
    gap: 29px;
    height: 705px;
}

.section5-h1{
    padding-top: 180px;
    color: $white;
    font-size: 32px;
    font-family: $font1;
}

.section5-h2{
    padding-top: 8px;
    color: $white;
    font-size: $fontsize2;
    font: $font1;
}

#section5-p{
    padding-top: 33px;
    color: $white;
    font-size: $fontsize3;
    font: $font2;
}




.section6{
    text-align: center;
    padding-top: 193px;
    
}

#section6-h1{
    color: $white;
    font-size: 32px;
    font-family: $font1;
    padding-bottom: 40px;
}

#section6-button{
    @include beloDugme()
}

#section6-image{
    background-attachment: fixed;
    background-size: cover;
}



























.klasa5{
    margin-top: 5000px;
}

.klasa6{
    margin-top: 5000px;
}

.klasa7{
    margin-top: 5000px;
}

.klasa8{
    margin-top: 5000px;
}