$red: #B50014;
$black: #000000ea;
$white: #FFFFFF;

$width: 1920px;

$font1: Roboto Condensed;
$font2: Roboto;

$fontsize1: 38px;
$fontsize2: 22px;
$fontsize3: 16px;
$fontsize4: 14px;
$fontsize5: 12px;


.nav{
    background-color: $red;
}